In [1]:
print ("hello, world")

hello, world

In [3]:
a = 5
b = 6.5
# addition
c= a + b
print (" the sum of two number is ", c)

 the sum of two number is  11.5

In [6]:
j=float(input("enter first number"))
k=float(input("enter second number"))
l=j*k
print("the product of two numbers is ",l)

enter first number99
enter second number98
the product of two numbers is  9702.0